DISCORD_TOKEN=<Discord Bot Token>
DB_HOST=<Hostname of MySQL-Server>
DB_USER=<User for MySQL>
DB_PASSWORD=<Password for MySQL>
DB_DATABASE=<Database of the Bot>
CLIENT_ID=<ID of the Bot>
GUILD_ID=<ID of the Guild, where the Bot is being tested>
