version: "3.8"

services:
  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
      target: development
    command:
      - "npx"
      - "ts-node"
      - "--files"
      - "src/index.ts"
    environment:
      NODE_ENV: "development"
    env_file:
      - ".env"
    volumes:
      - ./:/app:rw
    networks:
      - eve-storage

networks:
  eve-storage:
    external: true
    name: eve-storage
